.JOG,.brand {
  font-family: var(--brand-font);
  letter-spacing: -0.04em;
  color: var(--JOGwhite);
}

.J {
  color: var(--FMauve);
}

.G {
  color: var(--OGreen);
}

h1.JOG,h1.brand{
  font-size: 72px;
}