.button,
[type="button"],
[type="reset"],
[type="submit"],
button {
  padding: calc(0.5*var(--padding));
  color: var(--button-text-color);
  background: var(--button-bg-color);
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: var(--font-size);
  line-height: 1;
  text-align: center;
  transition: background-color 0.5s ease;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin: var(--mini-margin);
}

.button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover,
button:hover {
  background-color: var(--button-hover-color);
}
  
  button.outline,.button.outline {
    background-color: transparent !important;
    color: var(--button-bg-color);
    border-color: currentColor;
  }

  button.outline:hover,.button.outline:hover{
    color: var(--button-hover-color);
  }

  button.small,.button.small{
    font-size: calc(0.8*var(--font-size));
    padding: 5px;
  }

  button.pill,.button.pill{
    border-radius: 1.6em;
  }
  
  button.clear,.button.clear {
    background-color: transparent !important;
    border-color: transparent;
    color: var(--button-bg-color);
  }

  button.clear:hover,.button.clear:hover {
    color: var(--button-hover-color);
  }
  
  .button:active:not(:disabled),
  [type="button"]:active:not(:disabled),
  [type="reset"]:active:not(:disabled),
  [type="submit"]:active:not(:disabled),
  button:active:not(:disabled) {
    transform: scale(0.98);
  }

  button:disabled,
button:disabled:hover {
  opacity: 0.4;
  cursor: not-allowed;
}
