.primary { background: var(--primary-color) !important;}
.secondary { background: var(--secondary-color) !important;}
.background { background: var(--bg-color) !important;}

.white { background: var(--white) !important; }
.grey { background: var(--grey) !important; }
.black { background: var(--black)!important; }

.red { background: var(--red) !important; }
.orange { background: var(--orange) !important; }
.yellow { background: var(--yellow) !important; }
.green { background: var(--green) !important; }
.blue { background: var(--blue) !important; }
.purple { background: var(--purple) !important; }
.pink { background: var(--pink) !important; }
.brown { background: var(--brown) !important; }

.pastel.red { background: var(--pastelRed) !important; }
.pastel.orange { background: var(--pastelOrange) !important; }
.pastel.pastel.yellow { background: var(--pastelYellow) !important; }
.pastel.green { background: var(--pastelGreen) !important; }
.pastel.blue { background: var(--pastelBlue) !important; }
.pastel.purple { background: var(--pastelPurple) !important; }
.pastel.pink { background: var(--pastelPink) !important; }
.pastel.brown { background: var(--pastelBrown) !important; }

.classic.red { background: var(--classicRed) !important; }
.classic.orange { background: var(--classicOrange) !important; }
.classic.yellow { background: var(--classicYellow) !important; }
.classic.green { background: var(--classicGreen) !important; }
.classic.blue { background: var(--classicBlue) !important; }
.classic.purple { background: var(--classicPurple) !important; }
.classic.pink { background: var(--classicPink) !important; }
.classic.brown { background: var(--classicBrown) !important; }

.neon.red { background: var(--neonRed) !important; }
.neon.orange { background: var(--neonOrange) !important; }
.neon.yellow { background: var(--neonYellow) !important; }
.neon.green { background: var(--neonGreen) !important; }
.neon.blue { background: var(--neonBlue) !important; }
.neon.purple { background: var(--neonPurple) !important; }
.neon.pink { background: var(--neonPink) !important; }

.primary-text { color: var(--primary-color) !important;}
.secondary-text { color: var(--secondary-color) !important;}
.background-text { color: var(--bg-color) !important;}

.grey-text { color: var(--grey) !important; }
.black-text { color: var(--black) !important; }
.white-text { color: var(--white) !important; }

.red-text { color: var(--red) !important; }
.orange-text { color: var(--orange) !important; }
.yellow-text { color: var(--yellow) !important; }
.green-text { color: var(--green) !important; }
.blue-text { color: var(--blue) !important; }
.purple-text { color: var(--purple) !important; }
.pink-text { color: var(--pink) !important; }
.brown-text { color: var(--brown) !important; }

.pastel.red-text { color: var(--pastelRed) !important; }
.pastel.orange-text { color: var(--pastelOrange) !important; }
.pastel.yellow-text { color: var(--pastelYellow) !important; }
.pastel.green-text { color: var(--pastelGreen) !important; }
.pastel.blue-text { color: var(--pastelBlue) !important; }
.pastel.purple-text { color: var(--pastelPurple) !important; }
.pastel.pink-text { color: var(--pastelPink) !important; }
.pastel.brown-text { color: var(--pastelBrown) !important; }

.classic.red-text { color: var(--classicRed) !important; }
.classic.orange-text { color: var(--classicOrange) !important; }
.classic.yellow-text { color: var(--classicYellow) !important; }
.classic.green-text { color: var(--classicGreen) !important; }
.classic.blue-text { color: var(--classicBlue) !important; }
.classic.purple-text { color: var(--classicPurple) !important; }
.classic.pink-text { color: var(--classicPink) !important; }
.classic.brown-text { color: var(--classicBrown) !important; }

.neon.red-text { color: var(--neonRed) !important; }
.neon.orange-text { color: var(--neonOrange) !important; }
.neon.yellow-text { color: var(--neonYellow) !important; }
.neon.green-text { color: var(--neonGreen) !important; }
.neon.blue-text { color: var(--neonBlue) !important; }
.neon.purple-text { color: var(--neonPurple) !important; }
.neon.pink-text { color: var(--neonPink) !important; }