.lightGrey {
  background-color: var(--lightGrey) !important;
}

.darkGrey {
  background-color: var(--darkGrey) !important;
}

.bg-error {
  background-color: var(--error-color) !important;
}

.bg-success {
  background-color: var(--success-color) !important;
}

.bg-warning {
  background-color: var(--warning-color) !important;
}

.primary-border {border: var(--border-width) solid var(--primary-color) !important;}
.secondary-border {border: var(--border-width) solid var(--secondary-color) !important;}
.lightGrey-border {border: var(--border-width) solid var(--lightGrey) !important;}
.darkGrey-border {border: var(--border-width) solid var(--darkGrey) !important;}
.grey-border {border: var(--border-width) solid var(--grey) !important;}
.error-border {border: var(--border-width) solid var(--error-color) !important;}
.success-border {border: var(--border-width) solid var(--success-color) !important;}
.warning-border {border: var(--border-width) solid var(--warning-color) !important;}
.lightRed-border {border: var(--border-width) solid var(--lightRed) !important;}
.red-border {border: var(--border-width) solid var(--red) !important;}
.darkRed-border {border: var(--border-width) solid var(--darkRed) !important;}
.lightGreen-border {border: var(--border-width) solid var(--lightGreen) !important;}
.green-border {border: var(--border-width) solid var(--green) !important;}
.darkGreen-border {border: var(--border-width) solid var(--darkGreen) !important;}
.lightBlue-border {border: var(--border-width) solid var(--lightBlue) !important;}
.blue-border {border: var(--border-width) solid var(--blue) !important;}
.darkBlue-border {border: var(--border-width) solid var(--darkBlue) !important;}
.lightYellow-border {border: var(--border-width) solid var(--lightYellow) !important;}
.yellow-border {border: var(--border-width) solid var(--yellow) !important;}
.darkYellow-border {border: var(--border-width) solid var(--darkYellow) !important;}
.lightOrange-border {border: var(--border-width) solid var(--lightOrange) !important;}
.orange-border {border: var(--border-width) solid var(--orange) !important;}
.darkOrange-border {border: var(--border-width) solid var(--darkOrange) !important;}
.lightPink-border {border: var(--border-width) solid var(--lightPink) !important;}
.pink-border {border: var(--border-width) solid var(--pink) !important;}
.darkPink-border {border: var(--border-width) solid var(--darkPink) !important;}
.lightPurple-border {border: var(--border-width) solid var(--lightPurple) !important;}
.purple-border {border: var(--border-width) solid var(--purple) !important;}
.darkPurple-border {border: var(--border-width) solid var(--darkPurple) !important;}
.lightBrown-border {border: var(--border-width) solid var(--lightBrown) !important;}
.brown-border {border: var(--border-width) solid var(--brown) !important;}
.darkBrown-border {border: var(--border-width) solid var(--darkBrown) !important;}
.neonPink-border {border: var(--border-width) solid var(--neonPink) !important;}
.neonBlue-border {border: var(--border-width) solid var(--neonBlue) !important;}
.neonYellow-border {border: var(--border-width) solid var(--neonYellow) !important;}

.primary { background: var(--primary-color) !important;}
.secondary { background: var(--secondary-color) !important;}
.background { background: var(--bg-color) !important;}
.lightBlue { background: var(--lightBlue) !important; }
.blue { background: var(--blue) !important; }
.darkBlue { background: var(--darkBlue) !important; }
.lightGreen { background: var(--lightGreen) !important; }
.green { background: var(--green) !important; }
.darkGreen { background: var(--darkGreen) !important; }
.lightYellow { background: var(--lightYellow) !important; }
.yellow { background: var(--yellow) !important; }
.darkYellow { background: var(--darkYellow) !important; }
.lightOrange { background: var(--lightOrange) !important; }
.orange { background: var(--orange) !important; }
.darkOrange { background: var(--darkOrange) !important; }
.lightRed { background: var(--lightRed) !important; }
.red { background: var(--red) !important; }
.darkRed { background: var(--darkRed) !important; }
.lightPurple { background: var(--lightPurple) !important; }
.purple { background: var(--purple) !important; }
.darkPurple { background: var(--darkPurple) !important; }
.lightPink { background: var(--lightPink) !important; }
.pink { background: var(--pink) !important; }
.darkPink { background: var(--darkPink) !important; }
.lightBrown { background: var(--lightBrown) !important; }
.brown { background: var(--brown) !important; }
.darkBrown { background: var(--darkBrown) !important; }
.white { background: var(--white) !important; }
.grey { background: var(--grey) !important; }
.lightGrey { background: var(--lightGrey) !important; }
.darkGrey { background: var(--darkGrey) !important; }
.black { background: var(--black)!important; }
.neonPink {background: var(--neonPink) !important; }
.neonYellow {background: var(--neonYellow) !important; }
.neonBlue {background: var(--neonBlue) !important; }

.primary-text { color: var(--primary-color) !important;}
.secondary-text { color: var(--secondary-color) !important;}
.background-text { color: var(--bg-color) !important;}
.lightBlue-text { color: var(--lightBlue) !important; }
.blue-text { color: var(--blue) !important; }
.darkBlue-text { color: var(--darkBlue) !important; }
.lightGreen-text { color: var(--lightGreen) !important; }
.green-text { color: var(--green) !important; }
.darkGreen-text { color: var(--darkGreen) !important; }
.lightYellow-text { color: var(--lightYellow) !important; }
.yellow-text { color: var(--yellow) !important; }
.darkYellow-text { color: var(--darkYellow) !important; }
.lightOrange-text { color: var(--lightOrange) !important; }
.orange-text { color: var(--orange) !important; }
.darkOrange-text { color: var(--darkOrange) !important; }
.lightRed-text { color: var(--lightRed) !important; }
.red-text { color: var(--red) !important; }
.darkRed-text { color: var(--darkRed) !important; }
.lightPurple-text { color: var(--lightPurple) !important; }
.purple-text { color: var(--purple) !important; }
.darkPurple-text { color: var(--darkPurple) !important; }
.lightPink-text { color: var(--lightPink) !important; }
.pink-text { color: var(--pink) !important; }
.darkPink-text { color: var(--darkPink) !important; }
.lightbrown-text { color: var(--lightbrown) !important; }
.brown-text { color: var(--brown) !important; }
.darkBrown-text { color: var(--darkBrown) !important; }
.grey-text { color: var(--grey) !important; }
.lightGrey-text { color: var(--lightGrey) !important; }
.darkGrey-text { color: var(--darkGrey) !important; }
.black-text { color: var(--black) !important; }
.white-text { color: var(--white) !important; }
.error-text { color: var(--error-color) !important;}
.success-text { color: var(--success-color) !important;}
.warning-text { color: var(--warning-color) !important; }
.neonPink-text { color: var(--neonPink) !important; }
.neonBlue-text { color: var(--neonBlue) !important; }
.neonYellow-text { color: var(--neonYellow) !important; }