fieldset {
  padding: 0.5rem 2rem;
}

legend {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1rem;
}

input:not([type="checkbox"], [type="radio"], [type="submit"], [type="color"], [type="button"], [type="reset"]),
select,
textarea,
textarea[type="text"] {
  font-family: inherit;
  padding: var(--padding);
  border-radius: var(--radius);
  border: 1px solid var(--lightGrey);
  font-size: 1em;
  transition: all 0.2s ease;
  display: block;
  width: 100%;
}

select {
  appearance: none;
  background: #f3f3f6 no-repeat 100%;
  background-size: 1ex;
  background-origin: content-box;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='40' fill='%23555'><polygon points='0,0 60,0 30,40'/></svg>");
}

input:disabled,
input:disabled:hover,
button:disabled,
button:disabled:hover {
  opacity: 0.4;
  cursor: not-allowed;
}

.grouped {
  display: flex;
}

.grouped > *:not(:last-child) {
  margin-right: 16px;
}

.grouped.gapless > * {
  margin: 0 0 0 -1px !important;
  border-radius: 0 !important;
}

.grouped.gapless > *:first-child {
  margin: 0 !important;
  border-radius: 4px 0 0 4px !important;
}

.grouped.gapless > *:last-child {
  border-radius: 0 4px 4px 0 !important;
}

input:not([type="checkbox"], [type="radio"], [type="submit"], [type="color"], [type="button"], [type="reset"], :disabled){
  background: var(--lightGrey);
  color: var(--darkGrey);
  border-radius: var(--radius);
  margin: var(--margin) 0;
  max-width: 40rem;
}

input:not([type="checkbox"], [type="radio"], [type="submit"], [type="color"], [type="button"], [type="reset"], :disabled):hover,
select:hover,
textarea:hover,
textarea[type="text"]:hover {
  border-color: var(--secondary-color);
}

input:not([type="checkbox"], [type="radio"], [type="submit"], [type="color"], [type="button"], [type="reset"]):focus,
select:focus,
textarea:focus,
textarea[type="text"]:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 1px var(--primary-color);
}

input.error:not([type="checkbox"], [type="radio"], [type="submit"], [type="color"], [type="button"], [type="reset"]),
textarea.error {
  border-color: var(--error-color);
}

input.success:not([type="checkbox"], [type="radio"], [type="submit"], [type="color"], [type="button"], [type="reset"]),
textarea.success {
  border-color: var(--success-color);
}


input.warning:not([type="checkbox"], [type="radio"], [type="submit"], [type="color"], [type="button"], [type="reset"]),
textarea.warning {
  border-color: var(--warning-color);
}

[type="checkbox"],
[type="radio"] {
  width: 2rem;
  height: 1.6rem;
}

::placeholder {
  color: #bdbfc4;
}

label.error, label.success,label.warning{
  background: var(--error-color);
  color: var(--white);
  padding: var(--padding);
  border-radius: var(--radius);
}

label.success{
  background: var(--success-color);
}

label.warning{
  background: var(--warning-color);
}
