:root {
    --bg-color: #232349;
    --secondary-color: var(--FMauve);
    --primary-color: var(--OGreen);
    --JOGwhite: #e6e7e8;
    --OGreen: #3D9970;
    --FMauve: #9575cd;
    --white: var(--JOGwhite);
    --lightGrey: #d2d6dd;
    --grey: #6a737d;
    --darkGrey: #3f4144;
    --maroon: #85144b;
    --lightRed: #ff6970;
    --red: #f5002f;
    --darkRed: #800400;
    --lightBlue: #d9edfc;
    --blue: #0085ca;
    --darkBlue: #1b365d;
    --lightGreen: #b5e8bf;
    --green: #28a745;
    --darkGreen: #005e5d;
    --lightYellow: #f2f0a1;
    --yellow: #FFDC00;
    --darkYellow: #f1b434;
    --lightOrange: #ff9d6e;
    --orange: #ff9e1b;
    --darkOrange: #d45d00;
    --lightPink: #fadeff;
    --pink: #ffb3db;
    --darkPink: #a15a95;
    --lightPurple: #c7b1dd;
    --purple: #6f42c1;
    --darkPurple: #3c1053;
    --lightBrown: #d7c4b7;
    --brown: #99897c;
    --darkBrown: #4e3629;
    --error-color: var(--red);
    --warning-color: var(--yellow);
    --success-color: var(--green);
    --neonPink: #fa1afa;
    --neonYellow: #effb11;
    --neonBlue: #13fbfb;
    --neonGreen: #8cf622;

    --gradient: linear-gradient(135deg, var(--neonYellow), var(--neonPink), var(--neonBlue));
    
    --grid-maxWidth: 120rem;
    --grid-gutter: 2rem;
    --font-size: 1.6rem;
    --font-color: var(--JOGwhite);
    --font-family: -apple-system, "BlinkMacSystemFont", "Avenir",
      "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --mono-font: monaco, "Consolas", "Lucida Console", monospace;
    --heading-font: "Bebas Neue", serif;
    --brand-font: "Monoton", sans-serif;
    --heading-color: var(--neonBlue);
    --margin: 1.4rem;
    --mini-margin: 2px;
    --padding: 1rem;
    --border-width: 3px;
    --radius: 1.4rem;

    --tab-text-color: var(--fontcolor);
    --tab-bg--color: none;
    --tab-hover-color: var(--lightGrey);
    --tab-active-color: none;

    --tag-text-color: var(--fontcolor);
    --tag-bg--color: none;
    --tag-border-color: var(--lightGrey);

    --small-screen: 480px;
    --medium-screen: 720px;
    --big-screen: 1080px;

    --grid-columns: 3;
	  --grid-min-width: 200px;
	  --grid-gap: 20px;
  }