:root {
    --bg-color: #232349;
    --primary-color: var(--dragon-green);
    --secondary-color: var(--dragon-red);
    --dragon-green: #85d546;
    --dragon-red: #ed582e;

    --white: #e6e7e8;
    --black: #222;
    --grey: #939597;

    --red: #c20000;
    --blue: #004983;
    --green: #3c8562;
    --yellow: #f6e548;
    --orange: #ff6900;
    --pink: #ffb3db;
    --purple: #5f52a1;
    --brown: #5d3c2f;
    
    --pastelRed: #f97e84;
    --pastelOrange: #ff9d6e;
    --pastelYellow: #f2f0a1;
    --pastelGreen: #c8fbd2;
    --pastelBlue: #94b0d2;
    --pastelPink: #f3c6d4;
    --pastelGrey: #c3c5c7;
    --pastelPurple: #c7b1dd;
    --pastelBrown: #d5bba9;

    --classicGrey: #535557;
    --classicRed: #943a31;
    --classicBlue: #414369;
    --classicGreen: #557764;
    --classicYellow: #cead4d;
    --classicOrange: #d46b00;
    --classicPink: #de9cbb;
    --classicPurple: #855778;
    --classicBrown: #81694e;

    --neonRed: #f13943;
    --neonOrange: #f7a100;
    --neonYellow: #d8f640;
    --neonGreen: #35f138;
    --neonBlue: #13fbfb;
    --neonPink: #fc6df7;
    --neonPurple: #aa00d5;

    --gradient: linear-gradient(135deg, var(--green), var(--neonYellow), var(--neonRed));

    --font-size: 1.6rem;
    --text-color: var(--white);
    --font-family: var(--sans-font);
    --serif-font: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    --sans-font: -apple-system, "BlinkMacSystemFont", "Avenir",
      "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --mono-font: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    --heading-font: "Bebas Neue";
    --brand-font: "Monoton";
    --fancy-font: "Pacifico";
    --heading-color: var(--white);

    --margin: 1.2rem;
    --mini-margin: 4px;
    --mini-padding: 0.4rem;
    --padding: 2rem;
    --border-width: 3px;
    --radius: 1.4rem;

    --tab-text-color: var(--text-color);
    --tab-bg--color: none;
    --tab-hover-color: var(--lightGrey);
    --tab-active-color: none;

    --tag-text-color: var(--fontcolor);
    --tag-bg--color: none;
    --tag-border-color: var(--lightGrey);

    --button-text-color: var(--white);
    --button-bg-color: var(--primary-color);
    --button-hover-color: var(--secondary-color);

    --badge-text-color: var(--white);
    --badge-bg-color: var(--red);

    --grid-columns: 3;
	  --grid-min-width: 20rem;
	  --grid-gap: 2rem;
  }