table {
    width: 100%;
    border: 1px solid var(--lightGrey);
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
  }
  
  table tr:nth-of-type(2n) {
    background-color: var(--lightGrey);
  }
  
  td,
  th {
    vertical-align: middle;
    padding: 1.2rem 0.4rem;
    border: 1px solid lightGrey;
  }
  
  thead {
    background: var(--primary-color);
    color: var(--white);
  }
  
  tfoot {
    background: var(--secondary-color);
    color: var(--white);
  }