.tabs {
  display: flex;
  align-items: center;
}

.tabs a {
  text-decoration: none;
}

.tabs > .dropdown > summary,
.tabs > a {
  padding: 1rem 2rem;
  flex: 0 1 auto;
  color: var(--darkGrey);
  border: 1px solid var(--lightGrey);
  border-left: none;
  border-bottom: 2px solid var(--lightGrey);
  text-align: center;
  max-height: 3em;
}

.tabs > .dropdown > summary:first-child,
.tabs > a:first-child {
  border-left: 1px solid var(--lightGrey);
}

.tabs > a[aria-current="page"],
.tabs > a:hover {
  opacity: 1;
  background: var(--tab-hover-color);
}

.tabs > a[aria-current="page"],
.tabs > a.active {
  background: var(--tab-active-color);
}

.tabs.full a {
  flex: 1 1 auto;
}

.tabs.vertical {
   flex-direction: column;
}

.tabs.vertical > a{
  border-left: 1px solid var(--lightGrey);
  border-bottom: none;
  width: 100%;
}

.tabs.vertical > a:last-child{
  border-bottom: 1px solid var(--lightGrey);
}