.display-big, .display-med, .display-small{
    font-family: var(--font-family);
    color: var(--heading-color);
    line-height: 2;
    font-weight: 300;
    font-size: 8rem;
  }
  
  .display-med{
    font-size: 6rem;
  }
  
  .display-small{
    font-size: 4rem;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0.5rem 0;
  font-family: var(--heading-font);
  color: var(--heading-color);
}

.huge-text{
  font-size: 6rem;
}

.large-text{
  font-size: 4rem;
}

.med-text{
  font-size: 2rem;
}

.small-text{
  font-size: 1.4rem;
}

.tiny-text{
  font-size: 1rem;
}

h1,.h1 {
  font-size: 3.6em;
}

h2,.h2 {
  font-size: 3.2em;
}

h3,.h3 {
  font-size: 2.84em;
}

h4,.h4 {
  font-size: 2.52em;
}

h5,.h5 {
  font-size: 2.2em;
}

h6,.h6 {
  font-size: 1.92em;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.italic{
  font-style: italic;
}

.bold{
  font-weight: bold;
}

.underline{
  text-decoration: underline;
}

.sans-font{
  font-family: var(--sans-font);
}

.serif-font{
  font-family: var(--serif-font);
}

.mono-font{
  font-family: var(--mono-font);
}

.fancy-font{
  font-family: var(--fancy-font);
}

.brand{
  font-family: var(--brand-font);
}

.glow{
  text-shadow: 0 0 0.25em currentcolor;
}