.wrapper,.container,.box{
  padding: var(--padding);
}

.float-end,.float-right {
  float: right !important;
}

.float-start,.float-left {
  float: left !important;
}

.full-screen {
  width: 100%;
  min-height: 100vh;
}

.full-width {
  width: 100% !important;
}

.three-quarter-width {
  width: 75% !important;
}

.half-width {
  width: 50% !important;
}

.third-width {
  width: 33.33% !important;
}

.quarter-width {
  width: 25% !important;
}

.centered{
  margin-left: auto;
  margin-right: auto;
}

.align-vertical {
  display: flex;
  align-items: center;
}

.align-horizontal {
  display: flex;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-right {
  display: flex;
  align-items: right;
  justify-content: flex-end;
}

.align-left {
  display: flex;
  align-items: left;
  justify-content: flex-start;
}

.inline{
  display: inline;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.fixed {
  position: fixed;
}

.sticky{
  position: sticky;
  top: 0;
  z-index: 1000;
}

.padding {
  padding: var(--padding);
}

.padding-horizontal {
  padding: 0 var(--padding);
}

.padding-vertical {
  padding: var(--padding) 0;
}

.no-padding {
  padding: 0 !important;
}

.margin {
  margin: var(--margin);
}

.margin-horizontal {
  margin: 0 var(--margin);
}

.margin-vertical {
  margin: var(--margin) 0;
}

.margin-auto{
  margin: auto;
}

.no-margin {
  margin: 0 !important;
}

.pointer {
  cursor: pointer !important;
}

.circle {
  border-radius: 50%;
}

.dropshadow{
  box-shadow: 3px 3px 8px rgba(0,0,0,0.4);
}

.clearfix, p:has(img)::after, .float-end::after, .float-start::after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none !important;
}

.muted{
  opacity: 0.7;
}

.no-bullet{
  list-style: none;
}

.glass{
  background: rgba(255,255,255,0.3);
}

.dark-glass{
  background: rgba(0,0,0,0.3);
}

.badge {
  position: absolute;
  top: -1rem;
  right: -1rem;
  padding: 0.3em 0.5em;
  border-radius: 50%;
  background: var(--badge-bg-color);
  color: var(--badge-text-color);
  font-size: 0.9em;
  font-weight: bold;
}

*:has(.badge){
  position: relative;
}

@media screen and (max-width: 400px) {
  .hide-xs {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .hide-sm {
    display: none !important;
  }
}

@media screen and (max-width:900px) {
  .hide-md {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .hide-lg {
    display: none !important;
  }
}

@media print {
  .hide-print {
    display: none !important;
  }
}