.float-end,.float-right {
  float: right !important;
}

.float-start,.float-left {
  float: left !important;
}

.full-screen {
  width: 100%;
  min-height: 100vh;
}

.full-width {
  width: 100% !important;
}

.three-quarter-width {
  width: 75% !important;
}

.half-width {
  width: 50% !important;
}

.third-width {
  width: 33.33% !important;
}

.quarter-width {
  width: 25% !important;
}

.align-vertical {
  display: flex;
  align-items: center;
}

.align-horizontal {
  display: flex;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-right {
  display: flex;
  align-items: right;
  justify-content: flex-end;
}

.align-left {
  display: flex;
  align-items: left;
  justify-content: flex-start;
}

.inline{
  display: inline;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.absolute{
  position: absolute;
}

.fixed {
  position: fixed;
  width: 100%;
}

.padding {
  padding: var(--padding);
}

.margin {
  margin: var(--margin);
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.pointer {
  cursor: pointer !important;
}

.rounded {
  border-radius: var(--radius);
}

.circle {
  border-radius: 100%;
}

.dropshadow{
  box-shadow: 3px 3px 8px rgba(0,0,0,0.4);
}

.clearfix, p:has(img)::after, .float-end::after, .float-start::after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none !important;
}

.muted{
  opacity: 0.7;
}

.no-bullet{
  list-style: none;
  padding: 0;
}


@media screen and (max-width: 400px) {
  .hide-xs {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .hide-sm {
    display: none !important;
  }
}

@media screen and (max-width:900px) {
  .hide-md {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .hide-lg {
    display: none !important;
  }
}

@media print {
  .hide-print {
    display: none !important;
  }
}