html {
  box-sizing: border-box;
  font-size: var(--base-font-size);
  line-height: 1.15;
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  color: var(--text-color);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
  border-radius: calc(2*var(--radius-unit));
}

p > img {
  float: left;
  margin: 0 var(--margin-m) var(--margin-m) 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  color: var(--link-text-color);
  text-decoration: unerline;
  font-weight: bold;
  transition: text-decoration-color 0.3s ease;

}

a:hover:not(.button) {
  color: var(--link-hover-color);
  text-decoration: none;
}

a:visited:not(.button) {
  opacity: 0.8;
  color: var(--link-visited-color);
}

button {
  font-family: inherit;
}

p {
  margin: var(--margin-xs) 0;
  line-height: 1.6;
}

blockquote {
  padding: 1.5rem 2rem;
  font-family: var(--serif-font);
  font-size: 1.2em;
  border-left: 5px solid var(--text-color);
  max-width: 36em;
}

dl dt {
  font-weight: bold;
  font-size: 1.2em;
  color: var(--prmary-color);
}

dl dd {
  margin-left: 0;
  font-style: italic;
}

code,
kbd,
pre,
samp,
tt {
  font-family: var(--mono-font);
}

code,
kbd {
  font-size: 90%;
  white-space: pre-wrap;
  border-radius: var(--radius-s);
  padding: 0.2em 0.4em;
  background-color: var(--black);
  color: var(--white);
}

pre {
  background-color: var(--black);
  border-radius: var(--radius-m);
  font-size: 1rem;
  padding: 1rem;
  overflow-x: auto;
}

pre code {
  background: none;
  padding: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

iframe {
  border: 0;
}