.button,
[type="button"],
[type="reset"],
[type="submit"],
button {
  padding: 0.72rem var(--padding-s);
  color: var(--button-text-color);
  background: var(--button-bg-color);
  border-radius: var(--radius-s);
  border: 1px solid transparent;
  font-size: var(--font-size);
  line-height: 1;
  text-align: center;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin: var(--margin-xs);
  font-family: var(--button-font);
}

.button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover,
button:hover {
  opacity: 0.8;
}
  
  button.outline,.button.outline, button.clear,.button.clear {
    background-color: transparent !important;
    color: var(--button-bg-color);
    border-color: currentColor;
  }

  button.outline:hover,.button.outline:hover {
    background-color: var(--button-bg-color) !important;
    color: var(--button-text-color);
    transition: background-color 0s ease;
  }

  button.small,.button.small{
    padding: var(--padding-xs);
    font-size: calc(0.7*var(--base-font-size));
  }

  button.big,.button.big{
    padding: var(--padding-m);
    font-size: calc(1.4*var(--base-font-size));
    border-radius: var(--radius-l);
  }

  button.pill,.button.pill{
    border-radius: 1.6rem;
  }

  button.clear,.button.clear
 {
    border-color: transparent;
  }

  button:disabled,
button:disabled:hover {
  opacity: 0.4;
  cursor: not-allowed;
}
