.light {
  background-color: var(--lightGrey) !important;
}

.dark {
  background-color: var(--darkGrey) !important;
}

.bg-error {
  background-color: var(--error-color) !important;
}

.bg-success {
  background-color: var(--success-color) !important;
}

.bg-warning {
  background-color: var(--warning-color) !important;
}

.border-primary {
  border: var(--border-width) solid var(--primary-color) !important;
}

.border-secondary {
  border: var(--border-width) solid var(--secondary-color) !important;
}

.border-light {
  border: var(--border-width) solid var(--lightGrey) !important;
}

.border-dark {
  border: var(--border-width) solid var(--darkGrey) !important;
}

.border-grey {
  border: var(--border-width) solid var(--grey) !important;
}

.border-error {
  border: var(--border-width) solid var(--error-color) !important;
}

.border-success {
  border: var(--border-width) solid var(--success-color) !important;
}

.border-warning {
  border: var(--border-width) solid var(--warning-color) !important;
}

.border-red {
  border: var(--border-width) solid var(--red) !important;
}
.border-green {
  border: var(--border-width) solid var(--green) !important;
}

.border-blue {
  border: var(--border-width) solid var(--blue) !important;
}

.border-yellow {
  border: var(--border-width) solid var(--yellow) !important;
}

.border-orange {
  border: var(--border-width) solid var(--orange) !important;
}

.border-navy {
  border: var(--border-width) solid var(--navy) !important;
}

.border-pink {
  border: var(--border-width) solid var(--pink) !important;
}

.border-maroon {
  border: var(--border-width) solid var(--maroon) !important;
}

.border-purple {
  border: var(--border-width) solid var(--purple) !important;
}

.light-text {
  color: var(--lightGrey) !important;
}

.dark-text {
  color: var(--darkGrey) !important;
}


.error-text {
  color: var(--error-color) !important;
}

.success-text {
  color: var(--success-color) !important;
}

.warning-text {
  color: var(--warning-color) !important;
}

.primary { background: var(--primary-color) !important;}
.secondary { background: var(--secondary-color) !important;}
.background { background: var(--bg-color) !important;}
.navy { background: var(--navy) !important; }
.blue { background: var(--blue) !important; }
.teal { background: var(--teal) !important; }
.green { background: var(--green) !important; }
.yellow { background: var(--yellow) !important; }
.orange { background: var(--orange) !important; }
.red { background: var(--red) !important; }
.purple { background: var(--purple) !important; }
.maroon { background: var(--maroon) !important; }
.pink { background: var(--pink) !important; }
.white { background: var(--white) !important; }
.grey { background: var(--grey) !important; }
.lightGrey { background: var(--lightGrey) !important; }
.darkGrey { background: var(--darkGrey) !important; }
.black { background: var(--black)!important; }

.primary-text { color: var(--primary-color) !important;}
.secondary-text { color: var(--secondary-color) !important;}
.background-text { color: var(--bg-color) !important;}
.navy-text { color: var(--navy) !important; }
.blue-text { color: var(--blue) !important; }
.teal-text { color: var(--teal) !important; }
.green-text { color: var(--green) !important; }
.yellow-text { color: var(--yellow) !important; }
.orange-text { color: var(--orange) !important; }
.red-text { color: var(--red) !important; }
.purple-text { color: var(--purple) !important; }
.maroon-text { color: var(--maroon) !important; }
.pink-text { color: var(--pink) !important; }
.white-text { color: var(--white) !important; }
.grey-text { color: var(--grey) !important; }
.lightGrey-text { color: var(--lightGrey) !important; }
.darkGrey-text { color: var(--darkGrey) !important; }
.black-text { color: var(--black) !important; }
