fieldset {
  padding: 0.5rem 2rem;
  border: 1px solid var(--pastelGrey);
  border-radius: var(--radius-m);
}

legend {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1rem;
}

input:not([type="checkbox"], [type="radio"], [type="submit"], [type="color"], [type="button"], [type="reset"]),
select,
textarea,
textarea[type="text"] {
  font-family: inherit;
  padding: var(--padding-xs);
  border-radius: var(--radius-m);
  border: 1px solid var(--pastelGrey);
  font-size: 1em;
  transition: all 0.2s ease;
  display: block;
  width: 100%;
}

select {
  appearance: none;
  background: var(--white) no-repeat 100%;
  background-size: 1ex;
  background-origin: content-box;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='40' fill='%23555'><polygon points='0,0 60,0 30,40'/></svg>");
}

input:disabled,
input:disabled:hover{
  opacity: 0.4;
  cursor: not-allowed;
}

input:not([type="checkbox"], [type="radio"], [type="submit"], [type="color"], [type="button"], [type="reset"], :disabled){
  background: rgba(255,255,255,0.4);
  color: var(--black);
  border-radius: var(--radius-m);
  margin: var(--margin-m) 0;
}

input:not([type="checkbox"], [type="radio"], [type="submit"], [type="color"], [type="button"], [type="reset"], :disabled):hover,
select:hover,
textarea:hover,
textarea[type="text"]:hover {
  border-color: var(--secondary-color);
}

input:not([type="checkbox"], [type="radio"], [type="submit"], [type="color"], [type="button"], [type="reset"]):focus,
select:focus,
textarea:focus,
textarea[type="text"]:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 1px var(--primary-color);
}

input.error:not([type="checkbox"], [type="radio"], [type="submit"], [type="color"], [type="button"], [type="reset"]),
textarea.error {
  border-color: var(--red);
}

input.success:not([type="checkbox"], [type="radio"], [type="submit"], [type="color"], [type="button"], [type="reset"]),
textarea.success {
  border-color: var(--green);
}

input.warning:not([type="checkbox"], [type="radio"], [type="submit"], [type="color"], [type="button"], [type="reset"]),
textarea.warning {
  border-color: var(--yellow);
}

[type="checkbox"],
[type="radio"] {
  width: 2rem;
  height: 1.6rem;
}

::placeholder {
  color: var(--classicGrey);
}

label.error, label.success,label.warning{
  color: var(--red);
  border-bottom: var(--border-width-m) dotted var(--red);
  margin: 0;
}

label.success{
  color: var(--green);
  border-color: var(--green);
}

label.warning{
  color: var(--yellow);
  border-color: var(--yellow);
}

.grouped {
  display: flex;
  align-items: center;
}

.grouped > *:not(:last-child) {
  margin-right: var(--margin-s);
}

.grouped.no-gap > * {
  margin: 0 0 0 -1px !important;
  border-radius: 0 !important;
}

.grouped.no-gap > *:first-child {
  margin: 0 !important;
  border-radius: var(--radius-m) 0 0 var(--radius-m) !important;
}

.grouped.no-gap > *:last-child {
  border-radius: 0 var(--radius-m) var(--radius-m) 0 !important;
}